{% extends "app_shell.html" %}

{% block content %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}
            {{ form.email(size=64) }}
        </p>
        <p>
            {{ form.password.label }}
            {{ form.password(size=64) }}
        </p>
        <p>{{ form.remember() }} <span class="inline-label"> {{ form.remember.label }}</span></p>

        <span class="form-info-messages">
            {% for error in form.email.errors %}
                <span class="form-error error"><b>Email:</b> {{ error }}</span>
            {% endfor %}
            {% for error in form.password.errors %}
                <span class="form-error error"><b>Password:</b> {{ error }}</span>
            {% endfor %}
        </span>

        <p>{{ form.login() }}</p>
        <p>
            <b>No account? Create one <a href="{{ url_for('auth.register') }}">here</a>!</b>
        </p>
    </form>
{% endblock %}