{% extends "app_shell.html" %}

{% block content %}
{% if books %}
    <ul class="book-list-summary">
        {% for book in books %}
            <li>
                <span class="book-list-title">{{ book.title }}</span>
                <span class="book-list-author">By {{ book.author }}</span>
                <span class=book-list-isbn><b>ISBN</b> {{ book.isbn }}</span>
                <span class="book-list-links">
                    <a href="{{ url_for('my_library.edit_book', book_id=book.id) }}">Edit book</a> |
                    <a href="{{ url_for('my_library.add_book_to_lib', book_id=book.id) }}">Add to my library</a>
                </span>
            </li>
        {% endfor %}
    </ul>
{% else %}
<h4>No one has added any books yet</h4>
<p>
    Maybe yours can be the first! Click <a href="{{ url_for('my_library.add_book_to_lib') }}">ADD BOOK TO LIBRARY</a>
    to get started.
</p>
{% endif %}
{% endblock %}