{% extends "app_shell.html" %}

{% block content %}
<h4>{{ book.title }} by {{ book.author }}</h4>
<h6>ISBN {{ book.isbn }}</h6>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.title.label }}
        {{ form.title() }}
    </p>
    <p>
        {{ form.author.label }}
        {{ form.author() }}

    </p>
    <span class="form-info-messages">
        {% for error in form.title.errors %}
        <span class="form-error"><b>Title:</b> {{ error }}</span>
        {% endfor %}
        {% for error in form.author.errors %}
        <span class="form-error"><b>Author:</b> {{ error }}</span>
        {% endfor %}
    </span>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}