{% extends "app_shell.html" %}

{% block content %}
    <h1>Edit Book</h1>
    <div>
        <p>ISBN {{ book.isbn }}</p>
    </div>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br/>
            {{ form.title() }}
            {% for error in form.title.errors %}
                <span class="form-error">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.author.label }}<br/>
            {{ form.author() }}
            {% for error in form.author.errors %}
                <span class="form-error">{{ error }}</span>
            {% endfor %}
        </p>

        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}