{% extends "app_shell.html" %}

{% block content %}
    <h1>My Library</h1>
    <h4>{{ current_user.email }}</h4>
    {% for entry in lib %}
    <ul>
        <li>
            <span>{{ entry.book.title }}</span>
            <span>By {{ entry.book.author }}</span>
            <span>ISBN {{ entry.book.isbn }}</span>
            {% if entry.purch_date %}
                <span>Date Purchased: {{ entry.purch_date }}</span>
            {% endif %}
            {% if entry.notes %}
                <span>Notes:</span>
                <span>{{ entry.notes }}</span>
            {% endif %}
            <span>
                <a href="{{ url_for('my_library.del_book_from_lib', book_id=entry.book.id) }}">Remove from my library</a> |
                <a href="{{ url_for('my_library.edit_lib_entry', book_id=entry.book.id) }}">Edit library entry</a>
            </span>
        </li>
    </ul>
    {% endfor %}
{% endblock %}