<p>Hiya,</p>
<p>A request to reset your password was initiated from My Python Library.</p>
<p>
    <a href="{{ url_for('email.reset_password', token=token, _external=True) }}">Click Here</a> or copy and
    paste the address below into your browser's address bar:
</p>
<p>
    {{ url_for('email.reset_password', token=token, _external=True) }}
</p>
<p>
    If you didn't initiate this request, just ignore this email and the link will expire.
</p>
<p>Thanks!</p>
<p>My Python Library Team</p>