<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
    {% if title %}
        MyPyLib: {{ title }}
    {% else %}
        My Little Python Library
    {% endif %}
    </title>
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/skeleton.css">
</head>
<body>
    <div>
        My Little Python Library
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            {% if current_user.is_anonymous %}
                <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
            {% else %}
                <li><a href="{{ url_for('my_library.summary') }}">My Library</a></li>
                <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
            {% endif %}
        </ul>
    </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    <div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>